---
import Spiral from "../display/Spiral.astro";
---

<header>
  <div class="text">
    <h1>
      <span> Hi! I'm </span> Lisa
    </h1>
    <p>I'm an aspiring frontend developer from the Netherlands.</p>
  </div>
  <div class="spiral">
    <Spiral />
  </div>
</header>

<style>
  header {
    display: grid;
    align-items: center;
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-family: var(--heading);
    max-width: 5ch;
    line-height: 0.8;
    margin-bottom: -1rem;
  }

  h1 span {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--paragraph);
    letter-spacing: -2px;
  }

  p {
    font-family: var(--paragraph);
    letter-spacing: -1px;
    max-width: 30ch;
  }

  @media (width >= 500px) {
    header {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
