@keyframes animate-in-and-out {
    entry 0% {
      opacity: 0;
      transform: translateY(50%);
    }
    entry 100% {
      opacity: 1;
      transform: translateY(0);
    }

    exit 0% {
      opacity: 1;
      transform: translateY(0);
    }
    exit 110% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
}