@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Grand Bageur";
  src: url('/src/assets/fonts/grand-bageur.woff2') format('woff2');
}


:root {
  --body-font: "Geist", sans-serif;
  --heading-font: "Tinos", serif;
  --heading-font: "Grand Bageur", sans-serif; 

  --white: #fcfaf8;
  --black: #101010;
  --dark: #303030;

  --bg: #fcfaf8;
  --text: #101010;

  --primary-one: #3b3a39;
  --primary-two: #f194b6;

  --primary: #64C1D8;
  --secondary: #EEB384;
  --tertiary: #A6BDCB;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
}

body {
  font-family: var(--body-font);
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  letter-spacing: 0px;
}

p {
  letter-spacing: 0px;
  font-weight: 300;
  max-width: 45ch;
  font-size: 1.25rem;
}

button {
  font-size: .9rem;
}

li::marker {
  font-size: 0.5rem;
}

/* classes */
.section_full-width {
  padding: 1rem;
  width: 100vw;
}

/* color classes */
.variation-one {
  --primary: #6ba57c;
  --secondary: #f194b6;
}

.variation-two {
  --primary: #a730e7;
  --secondary: #ef7685;
}

.varitation-three {
  --primary: #af5aeb;
  --secondary: #f4868b;
}

.variation-four {
  --primary: #2c7f5d;
  --secondary: #f08f8f;
}

.variation-five {
  --primary: #296de7;
  --secondary: #f0bb78;
}

.dark {
  --bg: #121212;
  --text: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --text: #fefefe;
  }
}
