@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}

:root {
  --heading-font: "Merriweather", Arial, Helvetica, sans-serif;
  --body-font: "Space Mono", monospace;

  --white: #fef9fd;
  --black: #191318;
  --dark: #423540;

  --primary: #be5177;
  --secondary: #ffaeb6;
  --tertiary: #fbc9d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
}

body {
  font-family: var(--body-font);
  background-color: var(--light);
  color: var(--primary-two);
}

main {
  padding: 1.5rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

li::marker {
  font-size: 0.5rem;
}

/* classes */
.section_full-width {
  padding: 1rem;
  width: 100vw;
}
