@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: "Amstir Pixel";
  src: url(/fonts/AmstirPixel-Regular.otf);
}

:root {
  --main-font: "Instrument Sans", sans-serif, arial, helvetica, sans-serif;
  /* --heading-font: "Amstir Pixel", serif, arial, helvetica, sans-serif; */
  --space-one: 1rem;
  --space-two: 0.5rem;
  --space-three: 0.25rem;
  --space-four: 1.25rem;

  --black: #121212;
  --white: #f7f4f4;
  --primary: hsl(137, 98%, 20%);
  --secondary: hsl(32, 100%, 49%);
  --tertiary: hsl(43, 100%, 51%);
  --accent-one: hsl(192, 70%, 43%);
  --accent-two: hsl(199, 64%, 73%);
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--black);
}
footer {
  display: flex;
  position: absolute;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: var(--space-four);
  max-height: 100%;
  width: 100%;
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 2.5rem;
}

li {
  list-style: "-";
}

a {
  display: inline-block;
  min-height: 2.5rem;
  align-content: center;
}

a:visited {
  color: currentColor;
}