@font-face {
  font-family: "Libre Franklin";
  src: url(/fonts/LibreFranklin-var.ttf) format("truetype");
}

@font-face {
  font-family: "Instrument Sans";
  src: url(/fonts/InstrumentSans-var.ttf) format("truetype");
}

@font-face {
  font-family: "Grand";
  src: url(/fonts/Grand-Bageur.ttf) format("truetype");
}

@font-face {
  font-family: "Commit Mono";
  src: url(/fonts/Commit-Mono.woff2) format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url(/fonts/IBMPlexSans-Regular.woff2) format("woff2");
}

html {
  --heading: "Grand", Arial, Helvetica, sans-serif;
  --paragraph: "IBM Plex Sans Regular", Arial, Helvetica, sans-serif;
  --standard-heading: "Grand", Arial, Helvetica, sans-serif;
  --standard-paragraph: "IBM Plex Sans Regular", Arial, Helvetica, sans-serif;
  --paragraph-type-two: "Commit Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph);
  background-color: var(--background);
}

/* text */

h1,
h2,
h3 {
  font-family: var(--heading);
}

/* general */

li {
  list-style: "";
}

a {
  color: currentColor;
  font-weight: 600;
}


/** reusable classes */

.back-to {
  display: inline-block;
  margin: 3rem 1.5rem;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.back-to::before {
  content: "<-";
}

.back-to:hover {
  text-decoration: underline;
  scale: 1.01;
}

.hidden {
  display: none;
}

/** inverted border radius on the bottom of the element */
/* element-color is defined on element level */
.inverted-border-radius-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: transparent;
  bottom: -3rem;
  height: 3rem;
  width: 4rem;
  border-top-left-radius: 15px;
  box-shadow: 0 -15px 0 0 var(--element-color);
  z-index: -1;
}

.inverted-border-radius-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: transparent;
  bottom: -3rem;
  height: 3rem;
  width: 4rem;
  border-top-right-radius: 15px;
  box-shadow: 0 -15px 0 0 var(--element-color);
  z-index: -1;
}

/** inverted border radius on the top of the element */
.inverted-border-radius-top::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: transparent;
  height: 3rem;
  width: 4rem;
  top: -3rem;
  border-bottom-left-radius: 15px;
  box-shadow: 0 15px 0 0 var(--element-color);
  z-index: -1;
}

.inverted-border-radius-top::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: transparent;
  height: 3rem;
  width: 4rem;
  top: -3rem;
  border-bottom-right-radius: 15px;
  box-shadow: 0 15px 0 0 var(--element-color);
  z-index: -1;
}