@font-face {
    font-family: "Libre Franklin";
    src: url(/fonts/LibreFranklin-var.ttf) format("truetype");
}

@font-face {
    font-family: "Instrument Sans";
    src: url(/fonts/InstrumentSans-var.ttf) format("truetype");
}

html {

    --heading: "Libre Franklin", Arial, Helvetica, sans-serif;
    --paragraph: "Instrument Sans", Arial, Helvetica, sans-serif;

    --text: #121212;
    --text-light: #f7f4fa;
    --background: #f7f4fa;

    --color-one: #383838;
    --color-two: #646464;
    --color-three: #c2c2c2;
    
    --accent-one: #9B9ECE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--paragraph);
    color: var(--text);
    background-color: var(--background);
}


/* general */

li {
    list-style: "";
}

a {
    color: currentColor;
}