@font-face {
  font-family: "Libre Franklin";
  src: url(/fonts/LibreFranklin-var.ttf) format("truetype");
}

@font-face {
  font-family: "Instrument Sans";
  src: url(/fonts/InstrumentSans-var.ttf) format("truetype");
}

@font-face {
  font-family: "Grand";
  src: url(/fonts/Grand-Bageur.ttf) format("truetype");
}

@font-face {
  font-family: "Commit Mono";
  src: url(/fonts/Commit-Mono.woff2) format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url(/fonts/IBMPlexSans-Regular.woff2) format("woff2");
}

html {
  --heading: "Grand", Arial, Helvetica, sans-serif;
  --paragraph: "IBM Plex Sans Regular", Arial, Helvetica, sans-serif;
  --standard-heading: "Grand", Arial, Helvetica, sans-serif;
  --standard-paragraph: "IBM Plex Sans Regular", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph);
  background-color: var(--background);
}

/* text */

h1,
h2,
h3 {
  font-family: var(--heading);
}

/* general */

li {
  list-style: "";
}

a {
  color: currentColor;
  font-weight: 600;
}


/** reusable classes */

.back-to {
  display: inline-block;
  margin: 3rem 1.5rem;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.back-to::before {
  content: "<-";
}

.back-to:hover {
  text-decoration: underline;
  scale: 1.01;
}

.hidden {
  display: none;
}