@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: "Amstir Pixel";
  src: url(/fonts/AmstirPixel-Regular.otf);
}

:root {
  --main-font: "Instrument Sans", sans-serif, arial, helvetica, sans-serif;
  /* --heading-font: "Amstir Pixel", serif, arial, helvetica, sans-serif; */
  --space-one: 1rem;
  --space-two: 0.5rem;
  --space-three: 0.25rem;
  --space-four: 1.25rem;

  --black: hsl(312, 56%, 5%);
  --white: #faf8fe;
  --primary: hsl(277, 86%, 51%);
  --secondary: hsl(357, 86%, 72%);
  --tertiary: hsl(19, 86%, 65%);
  --accent-one: hsl(135, 90%, 64%);
  --accent-two: hsl(35, 94%, 63%);
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  /* color: var(--black); */
}

.wrapper {
  width: 100%;
  display: grid;
}

main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: var(--space-four);
  max-height: 100%;
  width: 100%;
}

@media (min-width: 850px) {
  main {
    width: 80%;
    max-width: 60rem;
  }
}

footer {
  display: flex;
  position: absolute;
  text-align: center;
  margin-top: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 2.5rem;
}

li {
  list-style: "-";
}

@media (prefers-reduced-motion: no-preference) {
  li {
    animation: linear animate-in-and-out;
    animation-timeline: view();
  }
  
  @keyframes animate-in-and-out {
    entry 0% {
      opacity: 0;
      transform: translateY(50%);
    }
    entry 100% {
      opacity: 1;
      transform: translateY(0);
    }

    exit 0% {
      opacity: 1;
      transform: translateY(0);
    }
    exit 110% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
}

a {
  display: inline-block;
  min-height: 2.5rem;
  align-content: center;
  color: var(--black);
}

a:hover {
  color: var(--primary);
}

p {
  max-width: 84ch;
}