@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: "Amstir Pixel";
    src: url(/fonts/AmstirPixel-Regular.otf)
  }

:root {
    --main-font: "Instrument Sans", sans-serif, arial, helvetica, sans-serif;
    --fancy-font: "Amstir Pixel", serif, arial, helvetica, sans-serif;
    --space-one: 1rem;
    --space-two: .5rem;
    --space-three: .25rem;
    --space-four: 1.25rem;

    --white: hsl(255, 52%, 99%);
    --black: hsl(259, 78%, 7%);
    --purple: hsl(255,85%, 55%);
    --pink: hsl(307, 79%, 66%);
    --baby-pink: hsl(307, 90%, 84%);

    --background: hsl(255, 52%, 99%, 20%);
}

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background-color: var(--purple);
    color: var(--white);
}

main {
    justify-self: center;
    padding: var(--space-four);
    min-height: 100dvh;
    width: 100%;
    max-width: 40rem;
}

h1, h2, h3 {
    font-family: var(--fancy-font);
}

li {
    list-style: "";
}

a {
    color: var(--white);
    display: inline-block;
    min-height: 2.5rem;
}

a:hover {
    color: var(--pink);
}