@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Space Mono";
    src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
    --heading-font: "Merriweather", Arial, Helvetica, sans-serif;
    --body-font: "Space Mono", monospace;

    --primary-one: #fbfbfb;
    --primary-one-muted: #f5f5f5;
    --primary-two: #2b2b2b;

    --link-color: #4e77ce;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-one);
    color: var(--primary-two);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    color: var(--link-color);
}

p {
    max-width: 45ch;
}
/*  */

section {
    padding: 1rem;
    width: 100vw;
}