---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Tictactoe from "../components/Tictactoe.astro";
const pageTitle = "Gallery";
---

<Layout title="Lisa's Gallery">
  <main>
    <Tictactoe />
  </main>
</Layout>
