---
import "../styles/global.css";

import HomeLayout from "../layouts/HomeLayout.astro";
import Header from "../components/large/Header.astro";

const pageTitle = "Home";
---

<HomeLayout title={pageTitle}>

  <Header />

  <div class="wrapper">
    <ul>
      <li>
        <a href="/journal">Learning Journal:</a>
        <br /> the 'journal' I keep for school. Here I write down what I learn, some
        documentation from projects, gather useful links, and other stuff that helps
        me learn or create websites.
      </li>
      <li>
        <a href="/weloveweb">We Love Web:</a>
        <br /> each sprint a guest speakers gives a 'we love web' talk. They talk
        about their career or work, or cool stuff happening in the frontend field.
      </li>
    </ul>
  </div>
</HomeLayout>

<style>
  .wrapper {
    width: 100vw;
    height: 100vh;
  }

  li {
    margin: 1rem 0;
  }
</style>
