---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

const pageTitle = "Home";
---
    <Layout title="Lisa's homepage">
        <h1>{pageTitle}</h1>

        <section>
        </section>
    </Layout>