---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

const pageTitle = "Home";
---
    <Layout title="Lisa's homepage">
      <main>
        <h1>{pageTitle}</h1>

        <section>
          <p>Welcome to my digital garden.</p>
        </section>
      </main>
    </Layout>