---
const pageTitle = "Learning Journal";

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const allPosts = await getCollection("posts");
---

<Layout>
  <h2>{pageTitle}</h2>
  <ul>
    {
      allPosts.map((post) => (
        <Card
          url={"/posts/" + post.slug}
          title={post.data.title}
          date={post.data.date}
          tags={post.data.tags}
        />
      ))
    }
  </ul>
</Layout>

<style>
  h1,
  p {
    margin-bottom: 0.5rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: stretch;
  }

  li {
    padding: 0.5rem 0;
  }

  a {
    height: 100%;
    width: 100%;
  }

  li:hover {
    background: var(--background);
    border-radius: 4px;
  }
</style>
