---
const pageTitle = "Learning Journal";

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/large/Card.astro";

const allPosts = await getCollection("posts");
---

<Layout>
  <h2>{pageTitle}</h2>
  <ul>
    {
      allPosts.map((post) => (
        <Card
          url={"/posts/" + post.slug}
          title={post.data.title}
          date={post.data.date}
          tags={post.data.tags}
        />
      ))
    }
  </ul>
</Layout>