---
const pageTitle = "Learning Journal";
import "../styles/global.css";

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Blogpost from "../components/Blogpost.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Lisa's learning journal">
    <h1>{pageTitle}</h1>
    <ul>
      {
        allPosts.map((post) => (
          <Blogpost url={"/posts/" + post.slug} title={post.data.title} />
        ))
      }
    </ul>
</Layout>

<style>
  h1,
  p {
    margin-bottom: 0.5rem;
  }

  li {
    padding: 0.5rem 0;
  }

  a {
    height: 100%;
    width: 100%;
  }

  li:hover {
    background: var(--background);
    border-radius: 4px;
  }
</style>
