---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>Some of my favorite ...</h2>

  <h3>Youtube Channels</h3>
  <div class="articles">
    <article>
      <h4>
        <a href="https://www.youtube.com/@t3dotgg/videos">Theo - t3.gg</a>
      </h4>
      <p>
        Theo makes videos about current events in the frontend world, new and
        upcoming JS features, and frameworks, mostly Next and React. In the
        description he links his sources, so you can read where he got the info
        from, and dive deeper if you want.
      </p>
      <div class="tags">
        <span class="tag">Javascript</span>
        <span class="tag">Frameworks</span>
      </div>
    </article>

    <article>
      <h4>
        <a href="https://www.youtube.com/@KevinPowell/videos">Kevin Powell</a>
      </h4>
      <p>
        If you don't know who Kevin Powell is, I'm afraid you're on your own
        here.
      </p>
      <div class="tags"><span class="tag">CSS</span></div>
    </article>

    <article>
      <h4>
        <a href="https://www.youtube.com/@Fireship/videos">Fireship</a>
      </h4>
      <p>
        Fireship posts tutorials, videos about current events in the frontend
        world, and random stuff that has to do with frontend.
        <br />
         They also have their own website with written tutorials and courses,
        which is built with Svelte - yay!
      </p>
      <div class="tags">
        <span class="tag">Javascript</span>
        <span class="tag">Tutorials</span>
      </div>
    </article>

    <article>
      <h4>
        <a href="https://www.youtube.com/@juxtopposed/videos">Juxtopposed</a>
      </h4>
      <p>
        Juxtopossed mostly uploads videos of redesigns of well known apps and
        websites, focused on UI and UX. She also created <a
          href="https://www.realtimecolors.com/?colors=050315-fbfbfe-2f27ce-dedcff-433bff&fonts=Inter-Inter"
          >Realtime Colors</a
        >, a tool to help you pick good looking and accessible colors for your
        design.
      </p>
      <div class="tags">
        <span class="tag">Design</span>
        <span class="tag">UX</span>
      </div>
    </article>
  </div>

  <h3>Blogs and social accounts</h3>
  <div class="articles">
    <article>
      <h4>
        <a href="https://web.dev/blog">web.dev</a>
      </h4>
      <p>The latest news and updates.</p>
      <div class="tags">
        <span class="tag">Design</span>
        <span class="tag">UX</span>
      </div>
    </article>

    <article>
      <h4>
        <a href="https://www.bram.us/">Bramus</a>
      </h4>
      <p>
        Bramus is a webdeveloper, working at Google. He has build <a
          href="https://scroll-driven-animations.style/">this</a
        > super handy scroll driven animations resource website, which I have
        used a ton.
        <br />
         I also recommend following him on <a
          href="https://www.linkedin.com/in/bramus/">LinkedIn</a
        >, here he shares more useful bits of frontend knowledge.
      </p>
      <div class="tags">
        <span class="tag">Design</span>
        <span class="tag">UX</span>
      </div>
    </article>
  </div>
</Layout>

<style>
  @media (min-width: 768px) {
    .articles {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      align-items: stretch;
      gap: 1rem;
    }
  }
  
  article {
    display: grid;
    min-height: 17rem;
    max-width: 26rem;
    grid-template-rows: 15% 65% 20%;
    grid-template-areas:
      "title"
      "description"
      "tags";
    margin: 0.5rem 0 1.5rem 0.5rem;
    padding: 0.5rem;
    list-style: "";
    border-left: 6px solid var(--primary);
  }

  h4 {
    grid-area: title;
    color: var(--primary);
    font-size: larger;
  }

  h4 a {
    align-self: self-start;
    color: var(--primary);
  }

  p {
    grid-area: description;
    align-self: flex-start;
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  a::before {
    content: "🔗";
    font-size: 0.75rem;
    vertical-align: middle;
    margin-right: 0.2rem;
    text-decoration:;
  }

  h4 a::before {
    content: "";
    margin: 0rem;
  }

  .tags {
    grid-area: tags;
    align-self: flex-end;
  }

  .tag {
    font-size: 0.9rem;
    background-color: var(--accent-two);
    border-radius: 4px;
    padding: 0.25rem;
    margin-right: 0.25rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    article {
      animation: linear animate-in-and-out;
      animation-timeline: view();
    }
  }
</style>
