---
import "../styles/global.css";

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("weloveweb");
---

<Layout pageTitle={pageTitle}>
  <main>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={"/weloveweb/" + post.slug} title={post.data.title} />
        ))
      }
    </ul>
  </main>
</Layout>
