<section class="section_full-width">
  <h2>About Me</h2>
  <p>
    Hi! My name is Lisa.
    <br />
    <br>
    I'm an aspiring Frontend Developer from the Netherlands. I'm currently working
    on getting my degree in Frontend Design & Development.
  </p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    padding: 1rem;
  }

  p {
    text-wrap: balance;
  }
</style>
