---
import gsap from "gsap";
---

<script type="module">
  import "/src/scripts/nameAnim.js";
  import "/src/scripts/alienAnim.js";
</script>

<section class="section_full-width about">
  <div class="wrapper">
    <h1>Hello! I'm Lisa.</h1>
  </div>

  <svg
    class="box"
    width="263"
    height="435"
    viewBox="0 0 263 435"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="body"
      d="M135.938 0C-15.2554 0 0.488212 122.425 0.489101 244.271C0.489991 366.118 4.54105 411.557 42.7447 411.557C80.9483 411.557 60.1099 322.705 85.8684 322.705C115.389 322.705 71.6871 435 135.938 435C200.189 435 148.962 294.052 189.77 294.052C225.948 294.052 181.771 398.533 235.21 398.533C263.318 398.533 266.467 355.409 260.389 244.271C247.791 13.8922 210.254 0 135.938 0Z"
      fill="#F4AFB7"></path>
    <path
      class="mouth"
      d="M149.185 189H113.085C113.085 189 110.646 239.73 131.867 239.357C153.087 238.984 149.185 189 149.185 189Z"
      fill="black"></path>

    <rect
      class="eye-ball-left eyeball"
      x="56"
      y="127"
      width="57"
      height="57"
      rx="28.5"
      fill="white"></rect>
    <rect
      class="eye-pupil-left pupil"
      x="68.4912"
      y="152.612"
      width="32.0147"
      height="30.5919"
      rx="15.2959"
      fill="black"></rect>

    <path
      class="eyebrow-left eyebrow"
      d="M56 123H112.204V141.497C112.204 141.497 94.9791 132.91 84.1018 133.019C72.6417 133.134 56 141.497 56 141.497V123Z"
      fill="#F4AFB7"></path>

    <rect
      class="eye-ball-right eyeball"
      x="150"
      y="127"
      width="57"
      height="57"
      rx="28.5"
      fill="white"></rect>
    <rect
      class="eye-pupil-right pupil"
      x="162.491"
      y="152.612"
      width="32.0147"
      height="30.5919"
      rx="15.2959"
      fill="black"></rect>
    <path
      class="eyebrow-right eyebrow"
      d="M150 123H206.204V141.497C206.204 141.497 188.979 132.91 178.102 133.019C166.642 133.134 150 141.497 150 141.497V123Z"
      fill="#F4AFB7"></path>
  </svg>
</section>
