<section>
  <h1>Hello World</h1>
  <p>Hi! My name is Lisa</p>
  <p>
    I'm an aspiring Frontend Developer from the Netherlands. I'm currently
    working on getting my degree in Frontend Design & Development.
  </p>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: .2rem;
    }

    p {
        text-wrap: balance;
    }
</style>