<footer>
  <p>
    View <a href="https://github.com/lisagjh/i-love-web">this repository</a> and
    others on <a href="https://github.com/lisagjh">my github</a>.
  </p>
</footer>

<style>
  footer {
    --purple: hsl(255, 95%, 35%);

    width: 100vw;
    background-color: var(--purple);
    color: var(--white);
    padding: var(--space-four);
  }
  
  a {
    color: var(--white);
    text-decoration: underline;
  }
</style>
