---

---

<footer>
  <h2>Find me here:</h2>
  <ul>
    <li><a href="https://github.com/lisagjh">GitHub</a></li>
    <li><a href="https://bsky.app/profile/lisah.dev">BlueSky</a></li>
    <li></li>
  </ul>
</footer>

<style>
  footer {
    background-color: var(--primary-two);
    padding: 2rem;
  }

  h2,
  a {
    color: var(--primary-one);
  }
</style>
