<footer>
  <p>
    View <a href="https://github.com/lisagjh/i-love-web">this repository</a> and
    others on <a href="https://github.com/lisagjh">my github</a>.
  </p>
</footer>

<style>
  footer {
    width: 100vw;
    height: 3rem;
    position: static;
    bottom: 0;
    background-color: var(--purple);
    color: var(--white);
  }

  a {
    color: var(--white);
    text-decoration: underline;
  }
</style>
