---
let pageTitle = "I Love Web";
---

<header>
  <h1>
    <a href="/" aria-label="home">{pageTitle}</a>
  </h1>
</header>

<style>
  header {
    display: grid;
    place-items: center;
    overflow: hidden;
    min-height: 15rem;
  }

  h1 {
    font-size: 3.5rem;
    z-index: 10;
    text-transform: uppercase;
  }

  a {
    color: var(--primary);
    grid-column: 1;
    grid-row: 1;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }

  @media (max-width: 21rem) {
    h1 {
      justify-self: self-start;
      font-size: 2.5rem;
    }

  }
</style>
