---
let pageTitle = "I Love Web";
---

<header>
  <h1>
    <a href="/" aria-label="home">{pageTitle}</a>
  </h1>
</header>

<style>
  header {
    display: grid;
    place-items: center;
    overflow: hidden;
    min-height: 15rem;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 3.5rem;
    z-index: 10;
    text-transform: uppercase;
  }

  a {
    grid-column: 1;
    grid-row: 1;
    scale: 0.8;
  }

  @media (max-width: 18em) {
    h1 {
      justify-self: self-start;
      margin: 0.5em;
    }

    span:nth-of-type(2) {
      padding: 0;
    }
  }
</style>
