<header>
  <a href="/" aria-label="home">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="269"
      height="264"
      fill="none"
    >
      <g filter="url(#a)">
        <g filter="url(#b)">
          <path
            fill="#FBB3F3"
            d="M131.657 17.338c.867-2.826 4.867-2.826 5.735 0L154.6 73.37a3 3 0 0 0 4.498 1.637l49.198-31.862c2.481-1.607 5.546.964 4.394 3.687l-22.835 53.983a3 3 0 0 0 2.394 4.146l58.168 7.216c2.934.364 3.628 4.304.996 5.649l-52.192 26.676a3 3 0 0 0-.831 4.714l39.921 42.918c2.013 2.164.013 5.629-2.868 4.967l-57.128-13.113a3 3 0 0 0-3.668 3.077l2.994 58.537c.151 2.952-3.607 4.321-5.389 1.962l-35.334-46.767a3 3 0 0 0-4.787 0l-35.334 46.767c-1.782 2.359-5.54.99-5.39-1.962l2.995-58.537a3 3 0 0 0-3.668-3.077l-57.128 13.113c-2.88.662-4.881-2.803-2.868-4.967l39.921-42.918a3 3 0 0 0-.831-4.714l-52.192-26.676c-2.632-1.345-1.938-5.285.996-5.649l58.168-7.216a3 3 0 0 0 2.394-4.146L56.359 46.832c-1.152-2.723 1.913-5.294 4.394-3.687l49.198 31.862a3 3 0 0 0 4.498-1.637l17.208-56.032Z"
          ></path>
        </g>
        <g filter="url(#c)">
          <path
            fill="#ED65DD"
            d="M131.643 57.24c.867-2.826 4.867-2.826 5.735 0l10.559 34.382a3 3 0 0 0 4.499 1.637l30.189-19.551c2.481-1.607 5.545.964 4.394 3.687l-14.012 33.126a2.999 2.999 0 0 0 2.393 4.145l35.694 4.429c2.934.363 3.628 4.303.996 5.648l-32.027 16.369a3 3 0 0 0-.831 4.715l24.497 26.335c2.013 2.165.013 5.629-2.868 4.967l-35.056-8.046a3 3 0 0 0-3.667 3.077l1.837 35.92c.151 2.952-3.607 4.32-5.389 1.962l-21.682-28.698a3 3 0 0 0-4.787 0l-21.682 28.698c-1.782 2.358-5.541.99-5.39-1.962l1.838-35.92a3 3 0 0 0-3.668-3.077l-35.055 8.046c-2.881.662-4.881-2.802-2.868-4.967l24.496-26.335a3 3 0 0 0-.83-4.715L56.93 124.743c-2.633-1.345-1.938-5.285.995-5.648l35.694-4.429a3 3 0 0 0 2.394-4.145L82.002 77.395c-1.152-2.723 1.913-5.294 4.394-3.687l30.189 19.551a3 3 0 0 0 4.499-1.637l10.559-34.383Z"
          ></path>
        </g>
      </g>
      <defs>
        <filter
          id="a"
          width="267.251"
          height="263.744"
          x=".899"
          y=".119"
          color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"
          ></feBlend>
          <feGaussianBlur
            result="effect1_foregroundBlur_11_2"
            stdDeviation="7.55"></feGaussianBlur>
        </filter>
        <filter
          id="b"
          width="263.451"
          height="259.944"
          x="2.799"
          y="2.019"
          color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"
          ></feBlend>
          <feGaussianBlur
            result="effect1_foregroundBlur_11_2"
            stdDeviation="6.6"></feGaussianBlur>
        </filter>
        <filter
          id="c"
          width="222.033"
          height="219.72"
          x="23.494"
          y="23.32"
          color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"
          ></feBlend>
          <feGaussianBlur
            result="effect1_foregroundBlur_11_2"
            stdDeviation="15.9"></feGaussianBlur>
        </filter>
      </defs>
    </svg></a
  >

  <h1><a href="/">
      <span>I</span>
      <br />
      <span> Love</span>
      <br />
      <span>Web</span>
  </a></h1>
</header>

<style>
  header {
    background-color: var(--purple);
    display: grid;
    place-items: center;
    overflow: hidden;
    min-height: 15rem;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 3.5rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
  }

  a {
    grid-column: 1;
    grid-row: 1;
    scale: 0.8;
  }

  span {
    font-family: var(--fancy-font);
    letter-spacing: 0.1em;
  }

  span:nth-of-type(2) {
    padding-left: 2em;
    letter-spacing: 0.25em;
  }

  @media (max-width: 18em) {
    h1 {
      justify-self: self-start;
      margin: 0.5em;
    }

    span:nth-of-type(2) {
      padding: 0;
    }
  }
</style>
