---
import gsap from "gsap";
---

<script type="module">
  import "/src/scripts/nameAnim.js";
</script>

<section class="section_full-width">
  <h1>Hi! I am</h1>
  <svg
    class="name"
    width="400"
    height="401"
    viewBox="0 0 400 401"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="l"
      d="M100.53 251.174C121.351 247.665 174.588 193.972 181.72 168.6C194.137 124.43 166.958 95.7134 133.744 127.082C100.535 158.447 92.8283 225.79 137.979 263.168C190.74 306.847 268.908 278.853 297.509 190.282"
      stroke="#BE5177"
      stroke-width="30"
      stroke-linecap="round"></path>
    <path
      class="i"
      d="M156 194.032L158.826 247.958"
      stroke="#FFAEB6"
      stroke-width="20"
      stroke-linecap="square"></path>
    <path
      class="s"
      d="M218.403 212.931C213.264 187.939 188.161 188.501 184.161 212.334C180.9 231.758 218.001 235.998 217.74 250.942C217.315 275.308 190.244 274.55 183.378 257.167"
      stroke="#FFAEB6"
      stroke-width="20"
      stroke-linecap="square"></path>
    <path
      class="a"
      d="M274 249.508C274 249.508 272.688 229 272.02 220.471M243 249.508C243.277 240.892 243 232.503 243 220.508M243 220.508C243 201.003 246.086 177.508 258.086 178.008C270.086 178.508 271.353 211.942 272.02 220.471M243 220.508C258.85 220.508 256.171 220.471 272.02 220.471"
      stroke="#FFAEB6"
      stroke-width="20"
      stroke-linecap="square"></path>
  </svg>
</section>

<style>
  .section_full-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    overflow: hidden;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: -4rem;
  }

  svg path.l {
    stroke: var(--primary);
  }

  svg path.i,
  path.s,
  path.a {
    stroke: var(--secondary);
  }
</style>
