---
import gsap from "gsap";
---

<script type="module">
  import "/src/scripts/nameAnim.js";
</script>

<section class="section_full-width">
  <h1>Lisa</h1>
</section>

<style>
  .section_full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
      90deg,
      #ffffff 48.54%,
      #f5f2eb 48.54%,
      #f5f2eb 50%,
      #ffffff 50%,
      #ffffff 98.54%,
      #f5f2eb 98.54%,
      #f5f2eb 100%
    );
    background-size: 206px 206px;
    min-height: 50vh;
  }

  h1 {
    font-size: calc(10vw + 2rem);
    margin-bottom: -4rem;
  }

  svg path.l {
    stroke: var(--primary);
  }

  svg path.i,
  path.s,
  path.a {
    stroke: var(--secondary);
  }
</style>
