---
// You can access the current path using `Astro.url.pathname`
const current = Astro.url.pathname;
---
  <nav>
    <ul>
      <li>
        <a href="/" class={current === "/" ? "active" : ""}
          >Home</a
        >
      </li>
      <li>
        <a href="/journal" class={current === "/journal" ? "active" : ""}
          >Journal</a
        >
      </li>
      <li>
        <a href="/weloveweb" class={current === "/weloveweb" ? "active" : ""}
          >We Love Web</a
        >
      </li>
      <li>
        <a href="/gallery" class={current === "/gallery" ? "active" : ""}
          >Gallery</a
        >
      </li>
    </ul>
  </nav>

<style>
  .home {
    display: none;
  }

  .nav-wrapper {
    position: sticky;
    top: 2rem;
    display: grid;
    justify-self: center;
    width: fit-content;
  }

  nav {
    display: grid;
    place-items: center;
    margin: 0 auto;
    background: var(--purple);
    border-radius: 8px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.22);
    z-index: 100;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: "";
    padding: var(--space-three) 0;
    text-wrap: nowrap;
  }

  a {
    color: var(--white);
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    margin: var(--space-three);
    padding: var(--space-two);
    border-radius: 10px;
    transition: 0.25s ease-in-out;
  }

  a:hover {
    background-color: var(--background);
    color: var(--dark-purple);
  }

  a:active {
    background-color: var(--background);
    color: var(--dark-purple);
    scale: 0.95;
  }

  .active {
    text-decoration-color: var(--dark-purple);
    text-decoration-thickness: 3px;
  }

  @media (max-width: 18em) {
    nav {
      overflow: scroll;
      width: 100%;
    }
    li {
      font-size: 14px;
    }
    a {
      text-wrap: nowrap;
    }
  }
</style>
