---
// You can access the current path using `Astro.url.pathname`
const current = Astro.url.pathname;
---

<nav>
  <ul>
    <li>
      <a href="/journal" class={current === "/journal" ? "active" : ""}
        >Journal</a
      >
    </li>
    <li>
      <a href="/weloveweb" class={current === "/weloveweb" ? "active" : ""}
        >We Love Web</a
      >
    </li>
    <li>
      <a href="/gallery" class={current === "/gallery" ? "active" : ""}
        >Gallery</a
      >
    </li>
  </ul>
</nav>

<style>
  nav {
    display: grid;
    place-items: center;
    max-width: 25.5rem;
    margin: 0 auto;
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.15rem);
    border: 1px solid rgba(255, 255, 255, 0.22);
    position: sticky;
    top: 10px;
    z-index: 10;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: "";
    padding: var(--space-three) 0;
    border-radius: 2px;
    text-wrap: nowrap;
  }

  li:hover {
    background-color: hsl(255, 52%, 99%, 10%);
  }

  li:hover a {
    text-decoration-color: var(--baby-pink);
    text-decoration-thickness: 2px;
  }

  a {
    color: var(--white);
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    margin: var(--space-three);
    padding: var(--space-two);
    border-radius: 4px;
    transition: 0.25s ease-in-out;
  }

  .active {
    text-decoration-color: var(--pink);
    text-decoration-thickness: 3px;
  }

  @media (max-width: 18em) {
    nav {
      overflow: scroll;
      width: 100%;
    }
    li {
      font-size: 14px;
    }
    a {
      text-wrap: nowrap;
    }
  }
</style>
