<section>
  <h2>Work</h2>
  <ul>
    <li><a href="/">Dutch Digital Agencies</a></li>
    <li><a href="/">DDA - Scroll animation spike</a></li>
    <li><a href="/">DDA - View transition spike</a></li>
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 85vh;
    padding: 1rem;
  }

  li::marker {
    font-size: .5rem;
  }
</style>
