---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("projects");
---

<section>
  <h2>Work</h2>
  <p>here you can find some projects i made</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style></style>
