---
import "../styles/global.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

  <Layout pageTitle={frontmatter.title}>
    <article>
      <h2>{frontmatter.title}</h2>
      <p>{frontmatter.date.toString().slice(0, 10)}</p>
      <p><em>{frontmatter.description}</em></p>
      <section class="content">
        <slot />
      </section>
    </article>
  </Layout>

<style>
  article {
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
  }
  
  .content :global(h1),
  .content :global(h2),
  .content :global(h3),
  .content :global(h4),
  .content :global(h5),
  .content :global(h6) {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .content :global(li) {
    list-style: disc;
    margin: auto 2rem;
  }
</style>
