---
import "../styles/global.css";

interface Props {
  title: string;
}

import Footer from "../components/medium/Footer.astro";
import Nav from "../components/medium/Nav.astro";

import { Breadcrumbs } from "astro-breadcrumbs";

import "astro-breadcrumbs/breadcrumbs.css";

// or import the scss file
// import "astro-breadcrumbs/breadcrumbs.scss";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lisa loves web</title>
  </head>
  <body transition:animate="fade">
    <ViewTransitions />
    <div class="wrapper">
      <Nav />

      <Breadcrumbs />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .wrapper {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
  }
</style>
