---
let pageTitle = "I Love Web";
---

<header>
  <h1>
    <a href="/" aria-label="home">{pageTitle}</a>
  </h1>
</header>

<style>
  h1 {
    color: var(--color-one);
  }
  a {
    text-decoration: none;
  }
</style>