---
// You can access the current path using `Astro.url.pathname`
const current = Astro.url.pathname;
---

<input type="checkbox" id="menu-toggle" class="menu-toggle" />
<label for="menu-toggle" class="menu-button"> ☰ Menu </label>
<nav class="menu">
  <ul>
    <li>
      <a href="/" class={current === "/" ? "active" : ""}>Home</a>
    </li>
    <li>
      <a href="/journal" class={current === "/journal" ? "active" : ""}
        >Journal</a
      >
    </li>
    <li>
      <a href="/weloveweb" class={current === "/weloveweb" ? "active" : ""}
        >We Love Web</a
      >
    </li>
    <li>
      <a href="/gallery" class={current === "/gallery" ? "active" : ""}
        >Gallery</a
      >
    </li>
  </ul>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="menu-button close"> X close </label>
</nav>

<style>
  .menu-toggle {
    display: none;
  }

  /* Style the menu button */
  .menu-button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--color-two);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.2rem;
    user-select: none;
  }

  /* Style the nav menu */
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    border-bottom: 1px solid #ddd;
  }

  .menu a {
    display: block;
    padding: 1rem;
    color: #333;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #e4e4e4;
  }

  label.close {
    width: 100%;
    border-radius: 0px;

  }

  /* Show the menu when the checkbox is checked */
  .menu-toggle:checked + .menu-button + .menu {
    max-height: 300px; /* Adjust based on the height of your menu */
  }
</style>
