---
// You can access the current path using `Astro.url.pathname`
const current = Astro.url.pathname;
---

<input type="checkbox" id="menu-toggle" class="menu-toggle" />
<label for="menu-toggle" class="menu-button">
  <svg
    width="18"
    height="14"
    viewBox="0 0 18 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M2 2H16" stroke="#121212" stroke-width="2.5" stroke-linecap="round"
    ></path>
    <path d="M2 7H16" stroke="#121212" stroke-width="2.5" stroke-linecap="round"
    ></path>
    <path
      d="M2 12H16"
      stroke="#121212"
      stroke-width="2.5"
      stroke-linecap="round"></path>
  </svg>
  Menu
</label>

<nav class="menu">
  <!-- Close Button - Same checkbox toggles the menu -->
  <!-- <label for="menu-toggle" class="menu-button close">
    <svg
      width="18"
      height="14"
      viewBox="0 0 18 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 2L13.8995 11.8995"
        stroke="#121212"
        stroke-width="2.5"
        stroke-linecap="round"></path>
      <path
        d="M4 11.8995L13.8995 1.99998"
        stroke="#121212"
        stroke-width="2.5"
        stroke-linecap="round"></path>
    </svg>
    close
  </label> -->

  <ul>
    <li>
      <a href="/" class={current === "/" ? "active" : ""}>Home</a>
    </li>
    <li>
      <a href="/journal" class={current === "/journal" ? "active" : ""}
        >Journal</a
      >
    </li>
    <li>
      <a href="/weloveweb" class={current === "/weloveweb" ? "active" : ""}
        >We Love Web</a
      >
    </li>
  </ul>
</nav>

<style>
  .menu-toggle {
    display: none;
  }

  svg path {
    stroke: #fff;
  }

  /* Style the menu button */
  .menu-button {
    position:fixed;
    display: inline-block;
    cursor: pointer;
    background-color: var(--color-two);
    color: white;
    height: 2.5rem;
    width: 100vw;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.2rem 0.2rem;
    box-shadow: 1px 1px 2px var(--color-one);
    font-size: 1.2rem;
    user-select: none;
    z-index: 100;
  }

  nav {
    position: absolute;
    top: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    background-color: var(--background);
    transition: all 0.35s ease-in-out;
    z-index: 90;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
    text-transform: uppercase;
    font-size: larger;
    font-weight:;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  li {
    height: 5rem;
    min-width: fit-content;
    border-bottom: 1px solid var(--color-three);
  }

  a {
    display: block;
    align-self: center;
    min-width: 100%;
    min-height: 100%;
    padding: 0.75rem 1.5rem;
    padding: 2.5rem 1.5rem 0 1.5rem;
    text-decoration: none;
    font-size: larger;
  }

  .active {
    background-color: var(--color-three);
    transition: 0.25s ease-in-out;
  }

  .active::before {
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 0.4rem;
    translate: -0.75rem 0rem;
    vertical-align: text-top;
    border-radius: 0.1rem;
    background-color: var(--color-one);
  }

  /* show menu when checkbox is checked */
  .menu-toggle:checked ~ nav {
    margin-top: 0;
    transform: translateY(0);
    opacity: 1;
    transition: opacity .15s ease-in-out, transform 0.3s ease-out;
  }
</style>
